<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>

<body>
    <h3>EDIT a Comment</h3>
    <form action="/comments/<%= id %>?_method=PATCH" method="POST">
        <label for="EditComment">Comment</label>
        <br>
        <textarea name="EditComment" id="Editomment" cols="30" rows="5"><%= PrvText %> </textarea>
        <br>
        <button type="submit">Comment</button>
    </form>
</body>

</html>